
button {
  background-color:var(--secondary-text-color);
  
  color: var(--third-background-color);
  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 36px;

  padding: 10px;
  width: 120px;
  height: 40px;

  font-size: 13px;
  font-weight: 600;

  @media (min-width: 576px) {
    font-size: 15px;
    width: 150px;
    height: 50px;
  }
}

button:hover {
  transform: scale(1.1);
}