.article {
  box-sizing: border-box;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 18px;

  background-color: var(--secondary-background-color);
  min-height: 200px;  

  border: 1px solid transparent;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  @media (min-width: 576px) {
    padding: 40px;
    flex-direction: row;
    align-items: center;
  }
}

.article:hover {
  background-color: var(--third-background-color);
}

.article__text-container {
  flex-grow: 2;
  align-items: start;
}

.article__button-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding-top: 20px;

  @media (min-width: 576px) {
    flex-direction: column;
    margin-left: 40px;
    padding-top: 0;
  }
}

.article__title {
  font-size: 16px;
  justify-content: center;
  top: 0;

  color: var(--primary-text-color);
  padding-bottom: 14px;

  @media (min-width: 576px) {
    font-size: 20px;
    padding-bottom: 20px
  }
}

.article__description {
  font-size: 14px;
  color: var(--third-text-color);
  text-align: left;
  
  @media (min-width: 576px) {
    font-size: 18px;
  }
}

.article__button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none; 
  cursor: pointer; 
  background-repeat: no-repeat;
  background-position: center;
}

.article__button:hover {
  transform: scale(1.2);
}

.article__button--delete {
  background-image: var(--delete-icon);
}

.article__button--edit {
  background-image: var(--edit-icon);
}

.article__button--unpin {
  background-image: var(--pin-icon);
}

.article__button--pin {
  display: none;
}