.article {
  box-sizing: border-box;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--secondary-background-color);
  min-height: 200px;  


  border: 1px solid transparent;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article:hover {
  background-color: var(--third-background-color);

}

.article__button-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding-top: 20px;
}

.article__title {
  font-size: 16px;
  justify-content: center;

  border-bottom: 1px solid var(--third-background-color);

  color: var(--primary-text-color);
  padding: 15px;

  @media (min-width: 576px) {
    font-size: 20px;
    padding: 20px
  }
}

.article__description {
  font-size: 14px;
  color: var(--third-text-color);
  text-align: left;
  padding: 15px;

  @media (min-width: 576px) {
    font-size: 18px;
    padding: 20px
  }
}

.article__button {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none; 
  cursor: pointer; 
  background-repeat: no-repeat;
  background-position: center;
}

.article__button:hover {
  transform: scale(1.2);
}

.article__button--delete {
  background-image: var(--delete-icon);
}

.article__button--edit {
  background-image: var(--edit-icon);
}

.article__button--unpin {
  background-image: var(--pin-icon);
}

.article__button--pin {
  display: none;
}