.notFound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--secondary-text-color);
  margin-top: 200px;
}

.notFound__link{
  text-decoration: none;
  padding-top: 50px;
  width: 200px;    
}

.notFound__title{
  font-size: 40px;

  @media (min-width: 576px) {
    font-size: 70px;
    margin-bottom: 20px;
  }
}
