.edit-article {
  display: flex;
  flex-direction: column;
  margin: 30px auto 15px;
  gap: 20px;
  width: 80%;
}

.edit-article__description, .edit-article__title{
  box-sizing: border-box;
  height: 30px;
  min-width: 100%;
  max-width: 100%;
  font-family: "Roboto Flex", sans-serif;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  @media (min-width: 576px) {
    padding: 20px;
  }
}

.edit-article__title{
  font-size: 17px;
}

.edit-article__description {
  min-height: 150px;
  max-height: 350px;
  max-width: 300px;
  font-size: 15px;
}


.edit-article__buttons{
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.edit-article__buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;

}

.edit-article__buttons button:last-child {
  background-color: var(--third-background-color);
  color: var(--third-text-color);
}

