.new-article {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 60px 30px;
  width: 95%;

  background-color: var(--secondary-background-color);
  border: 1px solid transparent;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @media (min-width: 576px) {
    flex-direction: column;
    padding: 80px 40px;
  }

  @media (min-width: 990px) {
    width: 80%;

  }
}

.new-article__input {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.new-article__input-container lable {
  color: red;
  font-size: 12px;
  padding-left: 10px;
}

.new-article input, textarea {
  box-sizing: border-box;
  height: 30px;
  margin: 15px 0 5px;
  min-width: 90%;
  max-width: 90%;
  max-height: 250px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px;

  @media (min-width: 576px) {
    padding: 20px;
    margin: 20px 0 5px;
  }
}

.new-article textarea::placeholder, 
.new-article input::placeholder{
  color: var(--placeholder-text-color)
}

.new-article__title {
  font-family: "Roboto Flex", sans-serif;
  font-size: 17px;
}

.new-article__description {
  min-height: 150px;
  max-height: 350px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 15px;
  color: #1A1C1C;
}

.new-article__input-container {
  width: 100%;
}

.new-article_button--close {
  position: absolute;
  right: 20px;
  top: 20px;

  background-image: var(--close-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  width: 20px;
  height: 20px;
}