.App {
  text-align: center;
  background-image: var(--background-img);
  background-color: var(--background-color);
  min-height: 100vh;
}

.dark {
  --background-color: #1A1C1C;
  --background-img: url('./img/Topography.png');
  --secondary-background-color:#262E2F;
  --third-background-color: #324B4C;
  --primary-text-color: #fff;
  --secondary-text-color: #91D2D5;
  --third-text-color: #C3C7C7;
  --placeholder-text-color: #C3C7C7;
  --delete-icon: url("./img/delete_white_24dp.svg");
  --edit-icon: url("./img/edit_white_24dp.svg");
  --pin-icon: url("./img/push_pin_white_24dp.svg");
  --close-icon: url("./img/close_white_24dp.svg");
  --theme-button: url("./img/light_mode_white_24dp.svg");
}

.light {
  --background-color: #F1F5F4;
  --background-img: url('./img/Topography-light.png');
  --secondary-background-color: #F1F5F4;
  --third-background-color:#CCE8E9;
  --primary-text-color: #191C1C;
  --secondary-text-color: #00696D;
  --third-text-color: #3F4949;
  --placeholder-text-color: #C3C7C7;
  --delete-icon: url("./img/delete_black_24dp.svg");
  --edit-icon: url("./img/edit_black_24dp.svg");
  --pin-icon: url("./img/push_pin_black_24dp.svg");
  --close-icon: url("./img/close_black_24dp.svg");
  --theme-button: url("./img/dark_mode_black_24dp.svg");
}

.button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}



