@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, 
a, img, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, footer, header, nav, section {
	margin: 0;
	padding: 0;
}

article, footer, header, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
}


